.testimonial_swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-pagination-bullet {
  background: #fff !important;
  border: 1px solid var(--yellow) !important;
  opacity: 1 !important;
  height: 10px !important;
  width: 10px !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--yellow) !important;
}

.swiper_slide {
  width: 250px !important;
  height: 300px !important;
  background: var(--box-color);
  margin: 4rem 0;
  padding: 10px;
}

.swiper-slide_img {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.testimonial_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.testimonial_name {
  font-size: var(--fs-5);
  color: var(--yellow);
  font-weight: 600;
}
.testimonial_position {
  font-size: 12px;
}
.testimonial_section {
  padding: 10px 5px;
}
.testimonial_review {
  color: var(--gray);
  font-size: 12px;
}
